@media (max-width:1400px) {

    .ful-websit{
        width: 100%;
    }
}
@media (max-width:967px) {
    .ful-websit{
        width: 100%;
    }
    .menu {
        width: 65%;
    }
    .about .right {
        width: 40%;
    }
}

@media (max-width:787px) {
  
    .about .right {
        width: 40%;
    }
    .about .left img {
        width: 311px;
        height: 583px;
    }
    .service .box {
        width: 15%;
    }
 
}

@media (max-width:677px) {
    .logo {
        width: 100%;
        text-align: center;
    }
    .menu {
        width: 100%;
        text-align: center;
    }
    .menu ul li a {
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 28px;
    }
   
}
@media (max-width:562px) {
   
    .menu ul li a {
        padding-left: 6px;
        font-size: 14px;
    }
    .service .box {
        width: 100%;
    }
    .about .left {
        width: 100%;
    }
    .about .right {
        width: 100%;
    }
    .cont-box {
        width: 100%;
        
    }
}
